.father {
  /* flex-direction의 default value는 row이다. */
  display: flex;
  justify-content: space-around;
  height: 100vh;
}

.child {
  width: 200px;
  /* height: 200px; */
  height: 200px;
  background-color: coral;
  color: white;
  font-size: 38px;
}

/* 
  justify-content와 align-items는
  father가 child를 움직였지만
  align-self는
  child가 스스로 움직인다.
*/
/*
order -> 요소의 순서를 바꾼다.
order은 자식에게 적용한다.
기본적으로 order의 기본값은 0이다.
즉, 2번째 요소의 order을 1이라고 한다면
1번째 요소와 3번째 요소의 order은 0이기 때문에
2번째 요소가 맨 뒤로 밀려난다.
*/
.child:nth-child(2) {
  align-self: center;
  order: 1;
}

.child:nth-child(3) {
  align-self: flex-end;
}
